
:root {
    --clr-bg-1: #262123;
    --clr-text-1: white;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

footer {
    background: var(--clr-bg-1);
    color: var(--clr-text-1);
    display: grid;
    gap: 2em;
    padding: 2rem;
}

footer > * {
    text-align: center;
}

.social {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

/* --- Map section --- */

.map {
    width:100%;
    height: 50vw;
    position: relative;
    text-align:right;
    max-height: 600px;
}

.map__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:hidden;
    background:none !important;
}
